body {
    background-color: white;
    font-size: 16px;
}

h1 {
    padding: 20px 0;
    text-align: center;
}

h2 {
    text-align: left;
    margin-top: 2em;
    margin-bottom: 1em;
}

#app {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    /* text-align: center; */
}

#feature {
    text-align: center;
}

span.tag {
    color: crimson;
    border: 1px solid crimson;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 0 10px;
}

.gap {
    margin-bottom: 20px;
}

.lucky {
    font-size: 24px;
    color: crimson;
    font-weight: bold;
}

#people {
    height: 10em;
}

#output {
    height: 4em;
}